[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard

[submodule "toolchain"]
	path = toolchain
	url = https://github.com/maxsteeel/proton-12
[submodule "SukiSU-Ultra"]
	path = SukiSU-Ultra
	url = https://github.com/SukiSU-Ultra/SukiSU-Ultra.git
